<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h1>Create New Post</h1>
    <form method="post" action="http://localhost:3000/posts/new">
    <label for="user">Enter Username: </label>
    <input type="text" id="user" name="user" placeholder="Username"></input> <br> <br>
    <textarea name="desc" placeholder="Enter description here..." rows="10" cols="37" id="desc"></textarea>
    <br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>