<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="window.location.href='http://localhost:3000/posts'">Click to go to The posts</button>
    <script>
        let x = document.querySelector("button");
        
    </script>
</body>
</html>